VITE_API_URL=http://localhost:3001/v1
VITE_WS_URL=http://localhost:3001

VITE_FIREBASE_API_KEY=AIzaSyCucjyoK44CFY4Ogy96uZYP-GnFAgMejis
VITE_FIREBASE_AUTH_DOMAIN=restaumanger-16cf4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=restaumanger-16cf4
VITE_FIREBASE_STORAGE_BUCKET=restaumanger-16cf4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=820468328886
VITE_FIREBASE_APP_ID=1:820468328886:web:5e72bd71599f8b55487917
VITE_FIREBASE_MEASUREMENT_ID=G-MWMNVBP8S2
VITE_FIREBASE_VAPID_KEY=BISEu4_WSpoZ2YjSekPc61zN9DkgnhOjzNwcKQW6Uk6aBEdLj9aP1mIRuGJTK11veGnNccdT86sQGwE9KRiEtk0
